global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: ydb-materializer
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - host.docker.internal:9090
